* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    background-color: rgb(72, 111, 148);
}

header {
    width: 100%;
    margin: 0px;
    top: 0;
    position: sticky;
    padding: 40px 60px;
    background-color: rgb(24, 24, 49);
    color: white;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
    background-color: #4267b3;
}

#github {
    background-color: white;
}

.header-content {
    margin-right: 10px;
    display: inline-block;
}

#header-contacts {
    float: right;
    margin-right: 10px;
}

.contact-link {
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.container {
    margin: 10px 50px;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

#profile-content {
    display: flex;
}

#profile-img {
    width: 35%;
    height: 50%;
    border-radius: 50%;
    margin: auto;

}

#profile-text {
    margin: 0px 80px;
    width: 100%;
}

#profile-content h1 {
    font-size: 50px;
}


#profile-content p {
    width: 100%;
    font-size: 20px;
}

@media (max-width: 1000px) {
    #header-contacts {
        float: none;
    }
    
    #profile-content {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    #profile-text {
        margin: 0px;
    }

    #profile-img {
        width: 70%;
        height: auto;
        border-radius: 50%;
    }
}